<div class="home-container">
  <h1>See what they are sharing</h1>
  <div class="search-container">
    <form action="">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="or search for a moment..." (input)="search($event)">
    </form>
  </div>
  <div *ngIf="moments.length > 0; else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img
          src="{{ baseApiUrl }}/uploads/{{ moment.image }}"
          alt="{{ moment.title }}"
        />
        <h3>{{ moment.title }}</h3>
        <p class="date">{{ moment.created_at }}</p>
        <p>Comments: {{ moment.comments!.length }}</p>
        <p><a routerLink="/moments/{{ moment.id }}">Details</a></p>
      </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h1>No Moments available!</h1>
  </ng-template>
</div>
